[Desktop Entry]
Type=Application
Name=
Name[fa]=فروشگاه
Store
Comment=Install anything — apt, flatpak, simorgh
Exec=simorgh-store
Icon=store
Terminal=false
Categories=System;Simorgh;
Keywords=store;app;install;
