[Desktop Entry]
Type=Application
Name=Simorgh Store
Name[fa]=فروشگاه سیمرغ
Comment=Search and install apps from Debian and Flathub
Comment[fa]=جست‌وجو و نصب برنامه‌ها از Debian و Flathub
Exec=/usr/share/simorgh/apps/simorgh-store
Icon=system-software-install
Terminal=false
Categories=System;Utility;SoftwareManagement;
Keywords=store;apps;flatpak;install;appcenter;
X-Simorgh-Core=true
