[Desktop Entry]
Type=Application
Name=
Name[fa]=تنظیمات
Settings
Comment=System settings
Exec=simorgh-settings
Icon=settings
Terminal=false
Categories=System;Simorgh;
Keywords=simorgh;
